.login,
.signup {
  margin: 0 20px;
}

img {
  width: 100%;
  height: auto;
  padding: 32px 16px;
}

h1 {
  font-size: 32px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.custom-button {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  background-color: #1e5aff;
  font-size: 16px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-container h1 {
  margin-left: 24px;
}

.back-button {
  color: #656f77;
}

form {
  margin: 16px 0;
}
